name: checks
 
on:
  push:
    branches: 
      - "*"
  pull_request:
    branches: 
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: 
         submodules: recursive

      - name: Install Python dependencies
        run: python -m pip install aqt pyqt5-stubs mypy black pytest unittest

      - name: Run black
        run: black --check .

      - name: Run mypy
        run: mypy --install-types --non-interactive addon/
      
      - name: Run pytest
        run: pytest -v .